<mat-card>
    <mat-card-header>
        <mat-card-title>Product</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary">Tambah Product</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>
                <th>N0</th>
                <th>KATEGORI</th>
                <th>NAMA</th>
                <th>HARGA</th>
                <th></th>
                <th align="right"></th>
            </thead>
        </table>
    </mat-card-content>
</mat-card>
